*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
build/
dist/
build
*.project
*.buildship.core.prefs
out
.idea
prebuilts
local.properties
ktlint
release/play-account.json
release/detectivedroid-release.keystore
fastlane/report.xml